.div4_1 {
  background-color: #ffffff;
  width: 1000px;
  height: 500px;
  display: flex;
}

.video {
  padding-left: 40px;
}

.summary-container {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.summary-textarea {
  width: 80%;
  height: 300px;
  margin-left: 40px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
}
