{% extends 'base_template.html' %}


{% block title %}

Lecture

{% endblock %}


{% block links %}

<link
rel="stylesheet"
href="{{ url_for('static', filename='lecture.css') }}"
/>


{% endblock %}





{% block content %}



  <br />
  <span class="topic">Week {{week_id}} Lecture {{lecture_id}}</span>
  <br /><br />
  <div class="div4_1">
    <iframe
      id="lecture-frame"
      class="video"
      width="800"
      height="300"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
  <br />
  <span class="topic">Lecture {{lecture_id}}: Summary</span>
  <div class="summary-container">
    <div
      class="summary-textarea"
      placeholder="AI Generated Summary"
      style="overflow-y: scroll;"
    >{{lec_summary}}</div>
  </div>
  <br />
  <span class="topic">Lecture {{lecture_id}}: Key Topics</span>
  <div class="summary-container">
    <div
      class="summary-textarea"
      placeholder="AI Generated Key Topics"
      style="overflow-y: scroll;"
    >{{lec_key}}</div>
  </div>


  <script>
    // Get the lecture link from the Flask backend
    const lectureLink = "{{ lecture_link }}";
  

    
    // Set the src attribute of the iframe to the lecture link
    document.getElementById('lecture-frame').src = lectureLink;
  </script>
  {% endblock %}
