<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programming Assignment</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='programmingassignment.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="div1">
        <div class="div1_1">
          <img
            src="{{ url_for('static', filename='iitmlogo.png') }}"
            alt="IITM Logo"
            class="iitmlogo"
          />
        </div>
        <div class="div1_2">
          <h2>May 2024 - Software Engineering</h2>
        </div>
        <div class="div1_3">
          <h3>21f3002005@ds.study.iitm.ac.in</h3>
          <a href="{{ url_for('index') }}"
            ><img
              src="{{ url_for('static', filename='logout.png') }}"
              alt="Logout"
              class="logout"
          /></a>
        </div>
      </div>
      <div class="container">
        <div class="div2">
          <div class="icon">
            <img
              src="{{ url_for('static', filename='module.png') }}"
              alt="Module"
              class="sidebar_icon"
            />
          </div>
          <div class="icon">
            <img
              src="{{ url_for('static', filename='grade.png') }}"
              alt="Grade"
              class="sidebar_icon"
            />
          </div>
          <div class="icon">
            <img
              src="{{ url_for('static', filename='inbox.png') }}"
              alt="Inbox"
              class="sidebar_icon"
              onclick="openGmail()"
            />
          </div>
          <div class="icon">
            <img
              src="{{ url_for('static', filename='discuss.png') }}"
              alt="Discuss"
              class="sidebar_icon"
              onclick="openDiscourse()"
            />
          </div>
          <div class="icon">
            <img
              src="{{ url_for('static', filename='calc.png') }}"
              alt="Calc"
              class="sidebar_icon"
              onclick="openDesmos()"
            />
          </div>
          <div class="icon">
            <a href="{{ url_for('chatbot') }}"
              ><img
                src="{{ url_for('static', filename='chatbot.png') }}"
                alt="ChatBot"
                class="sidebar_icon"
            /></a>
          </div>
        </div>
        <div class="div3">
          <div class="div3_1">
            <span>Course Introduction</span>
            <a href="{{ url_for('dashboard')}}"
              ><button class="explore1">Explore</button></a
            >
          </div>
          <div class="div3_1">
            <span>Week 1</span>
            <button class="explore2" onclick="openModal()">Explore</button>
          </div>
          <div class="div3_1">
            <span>Week 2</span>
            <button class="explore2" onclick="openModal()">Explore</button>
          </div>
          <div class="div3_1">
            <span>Week 3</span>
            <button class="explore2" onclick="openModal()">Explore</button>
          </div>
          <div class="div3_1">
            <span>Week 4</span>
            <button class="explore2" onclick="openModal()">Explore</button>
          </div>
        </div>
        <div class="div4">
          <br />
          <span class="topic">Programming Assignment</span><br /><br />
          <span class="question"
            >Print the first 5 positive integers in ascending order with one
            number in each line. </span
          ><br />
          <div class="answer-container">
            <textarea
              class="answer-textarea"
              placeholder="# Print first 3 integers in ascending order
print(1) 
print(2) 
print(3) "
            ></textarea>
          </div>
          <div class="question-container">
            <textarea
              class="question-textarea"
              placeholder="Print first 3 integers in ascending order with one number in each line..."
            ></textarea>
          </div>
          <button class="send-button">Send</button>
          <div class="code-container">
            <textarea
              class="code-textarea"
              placeholder="Write your code here..."
            ></textarea>
          </div>
          <div class="submit-button">
            <button class="submit">Check Answers</button>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Week 1 Content</h2>
        <div class="button-column">
          <a href="{{ url_for('lecture') }}"><button>Lecture 1</button></a>
          <a href="{{ url_for('lecture') }}"><button>Lecture 2</button></a>
          <a href="{{ url_for('activityquestion') }}"><button>AQ1.2</button></a>
          <a href="{{ url_for('lecture') }}"><button>Lecture 3</button></a>
          <a href="{{ url_for('activityquestion') }}"><button>AQ1.3</button></a>
          <a href="{{ url_for('programmingassignment') }}"
            ><button>Prog. Assignment</button></a
          >
          <a href="{{ url_for('gradedassignment') }}"
            ><button>Graded Assignment</button></a
          >
        </div>
      </div>
    </div>
  </body>
  <script>
    function openDesmos() {
      window.open("https://www.desmos.com/scientific", "_blank");
    }

    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    function openDiscourse() {
      window.open("https://discourse.onlinedegree.iitm.ac.in/", "_blank");
    }

    function openGmail() {
      window.open("https://mail.google.com/mail/u/0/#inbox", "_blank");
    }
  </script>
</html>
