<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starter Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='starter-page.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to IITM BS SEEK Portal</h1>
      <input type="text" id="mailid" class="mail" placeholder="Enter your student ID"  />
      <a href="{{ url_for('dashboard') }}"><button id="get-started-btn" >Let's Get Started</button></a>
    </div>
    <script>
          document.getElementById("mailid").onclick = function () {
             if (document.getElementById("mailid").value.contains("@ds.study.iitm.ac.in")) {
                alert("Login Successful");
             }
            };
    </script>
  </body>
</html>
